/* for black theme */
// .chart-ticker {
//   color: #777;
//   background-color: rgba(28, 28, 28, 0.8);
//   border: 1px solid rgba(179, 175, 156, 0.28);
//   padding: 6px 0 6px 6px;
//   font-size: 11px;
// }

.chart-ticker {
  padding: 0px;
  font-size: 11px;
}

.chart-ticker > div.tooltip-ticker {
  margin-top: 5px;
}

.chart-ticker > div {
  display: inline-block;
  width: 70px;
}

.chart-ticker span.t-title {
  display: block;
}

/* for black theme */
// .chart-ticker span.t-value {
//   color: #cccccc !important;
//   font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
//   text-align: right;
//   margin-right: 15px;
// }

.chart-ticker span.t-value {
  color: #333 !important;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  text-align: right;
  margin-right: 15px;
}

.chart-ticker ul.list-inline {
  margin: 6px 0 0 0;
}

.list-inline {
  margin-left: -5px;
}

.list-unstyled, .list-inline {
  padding-left: 0;
  list-style: none;
}

.chart-ticker ul.list-inline li {
  padding: 0 6px 0 0;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}